{% extends 'main/layout.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row pt-4" style="min-height: 80vh;">
        <div class="col">
            <h1>Available services</h1>
            <hr>
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Premium path</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">SAR 800</h6>
                    <p class="card-text">Travel quickly to your destination with comfort. Premium path provides you with electric scooters, buggies, empty roads etc for you to reach your destination quickly. It is valid throughout the duration of Hajj and in all parts of Mina, Muzdalifah and Arafat.</p>
                    <br>
                    <a href="#" class="btn btn-light">Purchase</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center py-4">
        <div class="col-6">
            <a href="" class="btn btn-dark">Available services</a>
        </div>
        <div class="col-6">
            <a href="" class="btn btn-dark">Purchased services</a>
        </div>
    </div>
</div>

{% endblock %}